.Footer {
   height: 67px;
   color: var(--main);
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   background-color: var(--rich-blue);
}

.Container {
   padding-top: 24px;
}

.wknd2020 {
   width: 98px;
   height: 19px;
   font-size: 16px;
   font-weight: bold;
   letter-spacing: normal;
   color: var(--main);
}

.wknd2020 .text-style-1 {
   font-weight: normal;
   color: var(--main);
}

.wknd2020 .text-style-1:hover {
   text-decoration: none;
}


.Rectengle {
   width: 136px;
   height: 24px;
   padding: 3px 10px 5px;
   border-radius: 12px;
   border: solid 1px var(--main);
}

.alpha-version-01 {
   width: 116px;
   height: 16px;
   font-size: 14px;
   font-weight: unset;
   letter-spacing: normal;
   text-align: center;
   color: var(--main);
}