.Helptips {
   background: #000;
   padding-bottom: 20px;
   background-image: url('../assets/pea.svg');
   background-repeat: no-repeat;
   background-position-x: 80vw;
   padding-bottom: 127px;
}

.Helptips .col {
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
}

.Helptips .Title {
   /* height: 38px; */
   font-size: 32px;
   font-weight: 900;
   letter-spacing: normal;
   text-align: center;
   color: var(--main);
   margin: auto;
}

.Helptips .Container {
   display: flex;
}

.Helptips .tittle.container {
   display: flex;
}

.Helptips .card-title.h5 {
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 16px;
}

.Helptips .card {
   border: none;
   cursor: pointer;
}

.Helptips .card-img {
   border-radius: unset;
}

.Helptips .card-img-overlay {
   top: auto;
   height: 72px;
   background: rgba(0, 0, 0, 0.5);
   border-radius: unset;
}

.Helptips .card-title {
   text-align: left;
   font-size: 16px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: -0.57px;
   color: var(--main);
}

@media only screen and (max-width: 600px) {
   .Helptips {
      margin-top: -1px;
      background-image: unset;
      padding-bottom: 67px;
   }

   .Helptips .Container {
      display: block;
   }

  .Helptips .Title {
     padding-left: 15px;
    text-align: left;
  }
}