.Main {
   margin-top: 5rem;
   color: var(--main);
   font-stretch: normal;
   letter-spacing: normal;
}

.Main h1 {
   font-size: 52px;
   font-weight: 1000;
   font-style: normal;
   line-height: 0.82;
   padding-bottom: 1rem;
}

.Main a {
   font-size: 21px;
   font-weight: 300;
   font-style: italic;
   line-height: normal;
}

.LegoButton {
   width: 231px;
   margin-top: 5rem;
   margin-left: auto;
   margin-right: auto;
}

.LegoButton img {
   display: inline-block;
   margin-bottom: -100px;
}

.LegoButton .Button {
   height: 58px;
   display: inline-block;
   padding: 20px 83.5px 19px;
   border-radius: 29px;
   box-shadow: 0 20px 30px 0 #ff878780;
   background-color: var(--main);
   font-size: 16px;
   color: var(--second);
   font-weight: normal;
   font-style: normal;
   line-height: normal;
   cursor: pointer;
}
