.Submain {
   background: var(--bgsecond);
   font-stretch: normal;
   font-style: normal;
   padding-bottom: 67px;
}

.Submain .Title {
   height: 38px;
   font-size: 32px;
   font-weight: 900;
   letter-spacing: normal;
   text-align: center;
   color: #fff;
   margin: auto;
}

.Submain .Content {
   width: 619px;
   font-size: 18px;
   font-weight: normal;
   line-height: 1.5;
   letter-spacing: -0.64px;
   text-align: center;
   color: #fff;
   margin: auto;
}

@media only screen and (max-width: 600px) {
   .Submain {
      margin-top: -1px;
   }

   .Submain .Content {
      text-align: left;
      font-size: 16px;
      letter-spacing: -0.57px;
      width: auto;
   }

   .Submain .Title {
      text-align: left;
   }
}