.Testimonial {
   position: relative;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   background: linear-gradient(180deg, var(--bgmain) 50%, var(--bgsecond) 50%);
}

.Testimonial .Title {
   height: 89px;
   text-shadow: 0 20px 30px rgba(249, 131, 171, 0.7);
   font-size: 32px;
   font-weight: 900;
   letter-spacing: normal;
   text-align: center;
   color: var(--main);
   background-image: url('../assets/oval.svg');
   background-repeat: no-repeat;
   background-position-x: 18vw;
}

.Testimonial .Title .text {
   padding-top: 69px;
}


.Testimonial .Oval {
   z-index: 100;
   position: absolute;
   /* left: 0; */
}

.Content .Container {
   overflow-x: hidden;
}

.Button .Deactive {
   opacity: .3;
}

.Testimonial .Button img:hover {
   cursor: pointer;
}

.Content .ButtonLeft img {
   position: absolute;
   top: 50%;
   right: 10%;
   transform: rotate(180deg);
}

.Content .ButtonRight img {
   position: absolute;
   top: 50%;
   left: 10%;
}

.Content .card {
   width: 247px;
   height: 140px;
   min-width: unset;
   margin: 10px;
}

.ContentTitle {
   white-space: nowrap;
   text-overflow: ellipsis;
   width: 151px;
   height: 38px;
   margin: 0 56px 20px 0;
   font-size: 32px;
   font-weight: 900;
   letter-spacing: normal;
   color: var(--second);
}

.ContentContent {
   width: 207px;
   height: 42px;
   margin: 20px 0 0;
   font-size: 12px;
   font-weight: normal;
   letter-spacing: -0.43px;
   color: var(--second);
}

@media only screen and (max-width: 600px) {
   .Content .Button {
      display: none;
   }

   .Testimonial .Title {
      padding-left: 15px;
      text-align: left;
   }

   .Content .Container {
      overflow-x: scroll;
   }
}
