:root {
  --bgmain: #eebece;
  --bgsecond: #000000;
  --rich-blue: #0b24fb;
}

#app {
  --main-color: var(--main);
  --second-color: var(--second);
  /* filter: invert(1) hue-rotate(180deg); */
}

.App {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: auto;
  background: var(--bgmain);
  background-image: url("./assets/bg-1.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
